<footer class="footer">
  <div class="container footer__container flex">
    <div class="footer__copyright">
      &copy; <%= new Date().getFullYear() %> US Cycle Guides.
      <span class="footer__copyright-credits"
        >Styled with
        <a
          href="https://github.com/Vimux/Mainroad/"
          rel="nofollow noopener"
          target="_blank"
          >Mainroad</a
        >
        assets.</span
      >
      <div class="footer__links">
        <a href="/about">About</a>
        <span aria-hidden="true">路</span>
        <a href="/contact">Contact</a>
        <span aria-hidden="true">路</span>
        <a href="/privacy">Privacy</a>
        <span aria-hidden="true">路</span>
        <a href="/terms">Terms</a>
        <span aria-hidden="true">路</span>
        <a href="/editorial-policy">Editorial Policy</a>
      </div>
    </div>
  </div>
</footer>
