<footer class="footer">
  <div class="container footer__container flex">
    <div class="footer__copyright">
      &copy; <%= new Date().getFullYear() %> US Cycle Guides.
      <span class="footer__copyright-credits"
        >Generated with
        <a href="https://gohugo.io/" rel="nofollow noopener" target="_blank"
          >Hugo</a
        >
        and
        <a
          href="https://github.com/Vimux/Mainroad/"
          rel="nofollow noopener"
          target="_blank"
          >Mainroad</a
        >
        theme.</span
      >
    </div>
  </div>
</footer>
