<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a class="logo__link" href="/" title="US Cycle Guides" rel="home">
        <div class="logo__item logo__text">
          <div class="logo__title">US Cycle Guides</div>
          <div class="logo__tagline">
            Sustainable waste management and recycling solutions across the USA.
          </div>
        </div>
      </a>
    </div>
    <nav class="menu">
      <!-- <button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
				<span class="menu__btn-title" tabindex="-1">Menu</span>
			</button>
			<ul class="menu__list">
				<li class="menu__item">
					<a class="menu__link" href="/">
						<span class="menu__text">Home</span>
					</a>
				</li>
			</ul> -->
    </nav>
  </div>
</header>
