<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a class="logo__link" href="/" title="US Cycle Guides" rel="home">
        <div class="logo__item logo__text">
          <div class="logo__title">US Cycle Guides</div>
          <div class="logo__tagline">
            Sustainable waste management and recycling solutions across the USA.
          </div>
        </div>
      </a>
    </div>
    <nav class="menu" aria-label="Primary">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="/">
            <span class="menu__text">Home</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/about">
            <span class="menu__text">About</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/contact">
            <span class="menu__text">Contact</span>
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/editorial-policy">
            <span class="menu__text">Editorial Policy</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
